@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.font_heading {
  font-family: var(--font-montserrat);
}

.font_subheading {
  font-family: var(--font-merriweather);
}

.font_content {
  font-family: var(--font-raleway);
}

.custom_line {
  border-left: 6px solid green;
  height: 500px;
}

.profile_icons {
  position: absolute;
  left: 10%;
  list-style-type: none;
  transform-origin: 290%;
  transform: rotate(calc(var(--i) * (360deg / var(--j)))) translateX(300px);
}

.profile_icons span {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(calc(360deg / (-1 * var(--j)) * var(--i)));
}
