@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-waves.png");
}

.font_heading {
  font-family: var(--font-montserrat);
}

.font_subheading {
  font-family: var(--font-merriweather);
}

.font_content {
  font-family: var(--font-raleway);
}

.custom_line {
  border-left: 6px solid green;
  height: 500px;
}

.profile_icons {
  position: absolute;
  left: 10%;
  list-style-type: none;
  transform-origin: 290%;
  transform: rotate(calc(var(--i) * (360deg / var(--j)))) translateX(300px);
}

.profile_icons span {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(calc(360deg / (-1 * var(--j)) * var(--i)));
}

/* Circle layout and rotation */
.container_icons {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

/* .profile_icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
} */

.profile_icons {
  transform: rotate(calc(var(--i) * (360deg / var(--j)))) translate(120px)
    rotate(calc(var(--i) * (-360deg / var(--j))));
}

.container_icons.rotate {
  animation: rotate-circle 20s linear infinite;
}

@keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
